*{
	box-sizing: border-box;
}
body{
	margin:0;
}
header{
	background-color: #ffec94;
	padding: 50px;
	text-align: center;
}
nav{
	overflow: hidden;
	background-color: lightsalmon;
}
nav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
    padding: 14px 16px;
	text-decoration: none;
    font-size: 20px;
    
}
nav a:hover{
	background-color: #ffec94;
	color: black;
}
.리스트{
	text-align: center;
	width: 50%;
}
.co{
	float: left;
	padding: 10px;
}
.co.side{
	width:20%;
}
.co.mid {
	float: left;
    background-color: #ffec94;
    width: 68%;
    padding: 20px;
    margin-top: 30px;
	border-radius: 25px;
    box-shadow: -11px 11px 1px rgba(80, 80, 80, 0.3);
}
.co.mid1 {
    background-color: #ffec94;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    text-align:center;
}
.co.mid2 {
    background-color: #ffec94;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    text-align:center;
}
section:after{
	content:"";
    display:table;
    clear:both;
}
@media screen and (max-width:600px){
	.co.side, .co.mid{
		width: 100%;
	}
	.co.side, .list{
		width: 100%;
	}
}
.card{
	background-color: rgb(231, 230, 230);
	text-align: center;
	padding: 15px;
	margin-top: 15px;
	width: 70%;
	border-radius: 25px;
   box-shadow: -11px 11px 1px rgba(57, 57, 57, 0.3);
}
.star-rating{
    background-color:white;
}
#chk{
    color:#ff28a7;
}
footer {
	padding: 20px;
	text-align: center;
	background: lightgray;
	margin-top: 20px;
	clear : both;
}
.box {
	max-width: 100%;
	position: relative;
	width:285px; 
	height:285px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
}
.box img {
	max-width: 100%;
	border-radius: 25px;
}
  
.box .info {
	color: #fff;
	position: absolute; left: 0; bottom: 0;
	background: rgba(0,0,0,0.5);
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.35s ease-in-out;
}
.box:hover .info {
	opacity: 1;
}
.box .info h3 {
	font-size: 24px;
	padding-bottom: 0.4em;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}
.box .info p {
	font-size: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}
.box .info img {
	width: 30px;
	height: 30px;
}
.list{	
	max-width: 100%;
	width: 900px;
}
.class{
	width: 200px;
	height:200px;
}
#gourment{
	border-radius:15%;
}
.number{
	text-align: center;
 }

.menu{
	max-width: 100%;
	position: relative;
	width:430px; 
	height:320px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
}

/* 리스트 페이지 : 페이지네이션 */
.page-nation li{
	list-style: none;
}
.page-wrap{
	text-align: center;
	font-size: 0;
}
.page-nation{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.page-nation a{
	display: block;
	margin: 0 3px;
	float: left;
	border: 1px solid #e6e6e6;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	background-color: #fff;
	font-size: 13px;
	color: black;
	text-decoration: none;
	font-weight: bold;
}