{% extends "index.html" %}

{% block head_title %}
    맛집 리스트
{% endblock head_title %}


{% block section %}
    <div class="title">
        <span id="chk">
            <h2>맛집 리스트</h2>
        </span>
      </div>

    {% if total_count == 0 %} <!--등록된 맛집이 없으면-->
    <p>등록된 맛집이 없습니다.<br>
      당신의 맛집을 등록해서 다른 사람들에게 공유해주세요!</p>
    
    {% else %} <!--등록된 맛집이 있을 경우-->
    <p>현재까지 등록된 맛집 : {{total_count}}개<p>

    <div class="list">
      {% for data in datas %}
    
      <div class="맛집">
        <div class="box">
          <div class="image">
             
             <a href = "/view_detail/{{data[1].name}}/">
            <img
              name="{{data[1].name}}"
              src="../static/image/{{ data[1].img_path }}"
              alt="{{ data[1].name }}"
              width="285px"
              height="285px"
            />
            </a>
          </div>
            
          <div class="info">
            <h3>{{ data[1].name }}</h3>
            <img
              src="static/emptyheart.png"
              alt="비워진 하트"
              width="30px"
              height="30px"
            />
          </div>
        </div>
      </div>
      {% endfor %}

      <!--페이지네이션-->
      <div class="page-wrap">
        <div class="page-nation">
          <ul>
            <li>
              {% for i in range(page_count) %}
              <a href="{{url_for("view_list", page = i)}}" color="black">{{i}}</a>
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>

    </div>
    {% endif %}
{% endblock section %}