{% extends "index.html" %}

{% block head_title %}
  맛집 상세페이지
{% endblock head_title %}


<div class="맛집 상세페이지"></div>


{% block section %}
    <h2><span class="맛집이름">모미지</span></h2>
    
    <div class="list">
      <div class="box">
        <img
          id="gourment"
          style="width: 250px; height: 220px"
          src="static/momiji.jpg"
          alt="맛집 대표사진"
        />
      </div>
      <div class="box">
        <img
          id="gourment"
          style="width: 250px; height: 220px"
          src="static/momiji3.jpg"
          alt="맛집 대표사진"
        />
      </div>
    </div>
    <div class="맛집url">
      <h3>링크</h3>
      <p>
        <a
          href="https://map.naver.com/v5/search/%EB%AA%A8%EB%AF%B8%EC%A7%80%EC%8B%9D%EB%8B%B9/place/1915239189?placePath=%3Fentry=pll%26from=nx%26fromNxList=true"
        >
          <!--각 맛집의 실제 url로 나중에 수정할 것!-->
          <span class="맛집url">맛집url</span>
        </a>
      </p>
    </div>

    <div class="맛집주소">
      <h3>주소</h3>
      <p><span class="맛집주소">서울 서대문구 이화여대7길 24 2층</span></p>
    </div>

    <div class="대표메뉴조회_버튼">
      <h3>대표메뉴</h3>
      <p>
        <button type="button" onClick="대표메뉴_조회페이지로_이동()">
          대표메뉴 조회
        </button>
      </p>
      <!--나중에 JS로 이벤트리스너 함수 구현하기-->
    </div>

    <div class="리뷰조회_버튼">
      <h3>리뷰</h3>
      <p>
        <button type="button" onClick="리뷰_조회페이지로_이동()">
          리뷰 조회
        </button>
      </p>
      <!--나중에 JS로 이벤트리스너 함수 구현하기-->
    </div>
{% endblock section %}


{% block co_side %}
  <div class="co side"></div>
{% endblock co_side %}