{% extends "index.html" %} {% block head_title %} 맛집 상세페이지 {% endblock
head_title %} {% block section %}
<div class="title">
  <h2><span class="res-name">{{data.name}}</span></h2>
</div>

<table class="info-table">
  <tbody>
    <tr>
      <th colspan="2" class="fontset">전체 평점</th>
    </tr>
    <tr>
      <td colspan="2" id="avg-rate" style="text-align: center">{{avg_rate}}</td>
    </tr>
    <tr>
      <th colspan="2" class="fontset">맛집 대표사진</th>
    </tr>
    <tr>
      <td colspan="2" style="text-align: center">
        <img
          name="img"
          width="250px"
          height="220px"
          src="/static/image/{{data.img_path}}"
          alt="맛집 대표사진"
        />
      </td>
    </tr>
    <tr height="2em">
      <th colspan="2" class="fontset">맛집 세부 정보</th>
    </tr>
    <tr>
      <th class="info-th">카테고리</th>
      <td>{{data.category}}</td>
    </tr>
    <tr>
      <th class="info-th">가격대</th>
      <td>{{data.money}}</td>
    </tr>
    <tr>
      <th class="info-th">영업 시간</th>
      <td>{{data.time}}</td>
    </tr>
    <tr>
      <th class="info-th">전화 번호</th>
      <td>{{data.tel}}</td>
    </tr>
    <tr>
      <th class="info-th">맛집 사이트</th>
      <td>
        <a href="{{data.site}}">{{data.site}}</a>
      </td>
    </tr>
    <tr>
      <th class="info-th">주차</th>
      <td>
        {% if data['park'] == "Y" %} 가능합니다. {% endif %} {% if data['park']
        == "N" %} 불가능합니다. {% endif %}
      </td>
    </tr>
    <tr>
      <th class="info-th">주소</th>
      <td>{{data.addr}}</td>
    </tr>
  </tbody>
</table>

<br /><br />

<div style="text-align: center">
  <div>
    <a href="/list_foods/{{data.name}}/" color="black"
      ><button type="button">메뉴 보기</button></a
    >
    <a href="/view_reviewVView/{{data.name}}/" color="black"
      ><button type="button">리뷰 보기</button></a
    >
    <form method="post" action="/menuRegister" style="display: inline-block">
      <input type="hidden" name="name" value="{{data.name}}" />
      <button type="submit" name="menu">메뉴 등록</button>
    </form>
    <form method="post" action="/reviewRegister" style="display: inline-block">
      <input type="hidden" name="name" value="{{data.name}}" />
      <button type="submit" name="menu">리뷰 등록</button>
    </form>
  </div>
</div>

{% endblock section %} {% block co_side %}
<div class="co side"></div>
{% endblock co_side %}
