{% extends "index.html" %}

{% block head_title %}
    맛집 리스트
{% endblock head_title %}


{% block section %}
    <div class="title">
        <span id="chk">
            <h2>맛집 리스트</h2>
        </span>
      </div>

    
    <div class="per맛집">
      <a href="각 맛집 상세페이지 url">
        <!--각 맛집의 상세페이지 주소로 나중에 바꿀 것!-->
        <!-- 링크 거는 거:
                                <a>태그 대신에, 나중에 JS로 div에 이벤트헨들러 추가하는 방식으로 바꿀 수도 있을 듯.
                                <div onClick="함수이름();"> 해놓고
                                JS에서
                                    location.href = 이동할 주소;
                                해주면 됨. -->
        <div class="list">
          <div class="맛집">
            <div class="box">
              <div class="image">
                <img
                  name="momiji"
                  src="static/momiji.jpg"
                  alt="momiji"
                  width="285px"
                  height="285px"
                />
              </div>
              <div class="info">
                <h3>모미지식당</h3>
                <p>이대 정문쪽 덮밥집</p>
                <img
                  src="static/heart.png"
                  alt="채워진 하트"
                  width="30px"
                  height="30px"
                />
              </div>
            </div>
          </div>
          <div class="맛집">
            <div class="box">
              <div class="image">
                <img
                  name="유야케도쿄사진"
                  src="static/yuyaketokyo.jpeg"
                  alt="유야케도쿄사진"
                  width="285px"
                  height="285px"
                />
              </div>
              <div class="info">
                <h3>유야케도쿄</h3>
                <p>이대 정문쪽 돈가스집</p>
                <img
                  src="static/heart.png"
                  alt="채워진 하트"
                  width="30px"
                  height="30px"
                />
                <!--좋아요 버튼-->
                <!--
                                    JS 이용해서 이벤트핸들러 추가
                                    버튼 이미지 바꾸게 (강의노트에 전구 불 on/off 있었던 것처럼.)
                                   -->
              </div>
            </div>
          </div>
          <div class="맛집">
            <div class="box">
              <div class="image">
                <img
                  name="고냉지사진"
                  src="static/konangji.jpg"
                  alt="고냉지사진"
                  width="285px"
                  height="285px"
                />
              </div>
              <div class="info">
                <h3>고냉지</h3>
                <p>신촌기차역쪽 김치찌개 맛집</p>
                <img
                  src="static/emptyheart.png"
                  alt="비워진 하트"
                  width="30px"
                  height="30px"
                />
                <!--좋아요 버튼-->
                <!--
                                    JS 이용해서 이벤트핸들러 추가
                                    버튼 이미지 바꾸게 (강의노트에 전구 불 on/off 있었던 것처럼.)
                                   -->
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
{% endblock section %}
