{% extends "index.html" %} {% block head_title %} 메뉴 조회 {% endblock
head_title %} {% block section %}
<div class="title">
  <span id="chk">
    <h2>메뉴 조회</h2>
  </span>
</div>

<div class="perMenu">
  <!--메뉴판 부분-->
  {% for data in datas %}
  <table>
    <tbody>
      <tr>
        <th rowspan="4">
          <img
            style="width: 300px; height: 250px"
            id="gourment"
            src="{{data[1].img_path}}"
            alt="샘플 대표메뉴 이미지"
          />
        </th>
        <th>메뉴명 :</th>
        <td>{{data[1].foodname}}</td>
      </tr>
      <tr>
        <th>가격 :</th>
        <td>{{data[1].foodprice}}</td>
      </tr>
      <tr>
        <th>비건 :</th>
        <td>{{data[1].vegan}}</td>
      </tr>
      <tr>
        <th>알러지 :</th>
        <td>{{data[1].allergy}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<hr />
{% endfor %} {% endblock section %} {% block co_side %}
<div class="co side"></div>
{% endblock co_side %}
