{% extends "index.html" %} {% block head_title %} 메뉴 조회 {% endblock
head_title %} {% block section %} {% for mesg in get_flashed_messages() %}
<script>
  alert("{{mesg}}");
</script>
{% endfor %}

<div class="title">
  <h2><span class="res-name">{{name}}</span> <span> 메뉴 조회 </span></h2>
</div>

<div style="text-align: center">
  <a href="/view_detail/{{name}}/"><button type="button">맛집 정보</button></a>
  <form method="post" action="/menuRegister" style="display: inline-block">
    <input type="hidden" name="name" value="{{name}}" />
    <button type="submit">메뉴 등록</button>
  </form>
</div>

{% for data in datas %}

<div class="perMenu">
  <!--메뉴판 부분-->

  <table>
    <tbody>
      <tr>
        <th rowspan="4">
          <img
            style="width: 300px; height: 250px"
            id="gourment"
            src="{{data[1].img_path}}"
            alt="샘플 대표메뉴 이미지"
          />
        </th>
        <th>메뉴명 :</th>
        <td>{{data[1].foodname}}</td>
      </tr>
      <tr>
        <th>가격 :</th>
        <td>{{data[1].foodprice}}</td>
      </tr>
      <tr>
        <th>비건 :</th>
        <td>{{data[1].vegan}}</td>
      </tr>
      <tr>
        <th>알러지 :</th>
        <td>{{data[1].allergy}}</td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<hr />
{% endfor %} {% endblock section %} {% block co_side %}
<div class="co side"></div>
{% endblock co_side %}
