{% extends "index.html" %} {% block head_title %} 맛집 등록 {% endblock
head_title %} {% block section %} {% for mesg in get_flashed_messages() %}
<script>
  alert("{{mesg}}");
</script>
{% endfor %}

<div class="title">
  <span>
    <h2>맛집 등록</h2>
  </span>
  <span> </span>
</div>
<h3>자신이 생각하는 맛집을 등록해주세요!</h3>
<form
  name="맛집 등록"
  method="POST"
  enctype="multipart/form-data"
  action="/restaurantSubmit"
  enctype="multipart/form-data"
>
  <div class="co mid1">
    <img src="https://via.placeholder.com/350" alt="샘플이미지" />
    <br /><br /><br />
    <div>
      <label for="file"><b>대표사진:</b></label>
      <input type="file" name="file" accept="image/*" required /><br /><br /><br />
    </div>

    <label for="name"><b>식당이름:</b></label>
    <input type="text" name="name" required /><br /><br />

    <label for="addr"><b>주소:</b></label>
    <input
      type="text"
      name="addr"
      id="addr"
      placeholder="도로명 주소"
      required
    /><br /><br />
  </div>

  <div class="co mid2">
    <label for="tel"><b>전화번호:</b></label>
    <input type="tel" name="tel" id="tel" required /><br /><br />

    <label for="category"><b>음식의 종류:</b></label>
    <input
      type="text"
      name="category"
      id="category"
      placeholder="한식/양식/중식..."
      required
    /><br /><br />

    <label for="money"><b>음식 가격대:</b></label>
    <input
      type="text"
      name="money"
      id="money"
      placeholder="ex)10000-20000원"
      required
    /><br /><br />

    <label for="park"><b>주차 여부:</b></label>
    <input type="radio" value="Y" name="park" id="park" required />
    <label for="y">YES</label><br />
    <input type="radio" value="N" name="park" id="park" />
    <label for="n">NO</label><br /><br />

    <label for="time"><b>영업시간:</b></label>
    <input type="text" name="time" id="time" required />

    <br /><br />

    <label for="site"><b>사이트 URL:</b></label>
    <input type="url" name="site" placeholder=인스타그램/홈페이지...
    required><br /><br />

    <br /><br />

    <input type="submit" value="맛집 등록하기" />
  </div>
</form>
{% endblock section %}
