{% extends "index.html" %} {% block head_title %} 리뷰 등록 {% endblock
head_title %}

<!--style 태그-->
{% block style %} .star-rating { border: solid 1px #ccc; display: flex;
flex-direction: row-reverse; font-size: 1.5em; justify-content: space-around;
padding: 0 0.2em; text-align: center; width: 5em; } .star-rating input {
display: none; } .star-rating label { color: #ccc; cursor: pointer; }
.star-rating :checked ~ label { color: #f90; } .star-rating label:hover,
.star-rating label:hover ~ label { color: #fc0; } /* explanation */ article {
background-color: #ffe; box-shadow: 0 0 1em 1px rgba(0, 0, 0, 0.25); color:
#006; font-family: cursive; font-style: italic; margin: 4em; max-width: 30em;
padding: 2em; } {% endblock style %} {% block section %}
<!--리뷰 등록 타이틀 및 기본 멘트 -->
<div class="title">
  <h2><span class="res-name">
    {{data.name}}</span>
    <span>리뷰 등록하기</span>
  </span>
</h2>
</div>

<h3>솔직하고 상세한 경험을 공유해주세요!</h3>
<br />

<div class="input">
  <form
    name="리뷰등록"
    method="POST"
    enctype="multipart/form-data"
    action="/reviewSubmit"
    enctype="multipart/form-data"
  >
    <label for="name"><b>식당 이름:</b> {{data.name}}</label>
    <input type="hidden" name="name" value="{{data.name}}" />

    <label for="reviewerName">
      <p><b>작성자 닉네임 :</b></p>
    </label>
    <input type="text" name="reviewerName" required /><br />

    <label for="menu"
      ><p>
        <span id="메뉴선택" class="메뉴선택"><b>먹은 메뉴 :</b></span>
      </p></label
    >
    <input type="text" name="menu" required /><br /><br />

    <div>
      <label for="img">사진을 첨부하시겠습니까?</label>
      <input type="file" name="img" accept="image/*" required />
    </div>
    <br /><br />
    <img
      src="https://via.placeholder.com/200"
      alt="샘플 대표메뉴 이미지"
    /><br />

    <label for="text"
      ><p>
        <span id="리뷰내용" class="리뷰내용"
          ><b> 리뷰내용 (*선택사항):</b></span
        >
      </p></label
    >
    <textarea
      name="text"
      cols="49"
      rows="5"
      placeholder="음식, 분위기, 대기여부, 친절도 등에 대한 리뷰를 남겨주세요"
    ></textarea
    ><br /><br />

    <label for="rating"
      ><p>
        <span id="평점 등록" class="평점 등록"
          ><b>총 평점을 등록해주세요</b></span
        >
      </p></label
    >

    <div class="star-rating">
      <input type="radio" id="5-stars" name="rating" value="5" required />
      <label for="5-stars" class="star">&#9733;</label>
      <input type="radio" id="4-stars" name="rating" value="4" />
      <label for="4-stars" class="star">&#9733;</label>
      <input type="radio" id="3-stars" name="rating" value="3" />
      <label for="3-stars" class="star">&#9733;</label>
      <input type="radio" id="2-stars" name="rating" value="2" />
      <label for="2-stars" class="star">&#9733;</label>
      <input type="radio" id="1-star" name="rating" value="1" />
      <label for="1-star" class="star">&#9733;</label>
    </div>
    <br /><br /><br />

    <input type="submit" value="리뷰 등록하기" />
  </form>
</div>

{% endblock section %} {% block co_side %}
<div class="co side"></div>
{% endblock co_side %}
