{% extends "index.html" %} {% block head_title %} 리뷰 조회 {% endblock
head_title %} {% block section %} {% for mesg in get_flashed_messages() %}
<p>{{mesg}}</p>
<p>
  {% endfor %}
  <!--style 태그-->
  <!-- {% block style %} .keyword_graph ul { margin: 0 50px 0 50px; padding: 1px 0 0 0;
border-top: 0; border-right: 0; font-size: 11px; font-family: Tahoma, Geneva,
sans-serif; list-style: none; } .keyword_graph li { position: relative; margin:
10px 0; vertical-align: top; white-space: nowrap; } .keyword_graph .g_term {
position: absolute; top: 0; left: -50px; width: 40px; font-weight: bold;
line-height: 20px; text-align: right; } .keyword_graph .g_bar { display:
inline-block; left: 50px; position: relative; height: 20px; border-left: 0;
background: orange; } .keyword_graph .g_bar span { position: absolute; top: 0;
right: -50px; width: 40px; color: #767676; line-height: 20px; } .fill_star {
color: orange; } .non_fill_star { color: gray; } #total_star_rating { font-size:
300%; } .per_star_rating { font-size: 200%; } {% endblock style %} -->
</p>

<div class="title">
  <span id="chk">
    <h2 style="display: inline">{{name}} 리뷰 조회</h2>
    <br />
  </span>
</div>

<div class="button-box">
  <br />
  <table>
    <tbody>
      <tr>
        <td>
          <a href="/view_detail/{{name}}/"
            ><button type="button">식당 상세 페이지</button></a
          >
        </td>
        <td>
          <form method="post" action="/reviewRegister">
            <input type="hidden" name="name" value="{{name}}" />
            <button type="submit">리뷰 등록하기</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 
  <div id="필터버튼">
    <input type="button" value="정렬" />
    <input type="button" value="메뉴별 리뷰보기" />
    <input type="checkbox" id="사진리뷰체크박스" />
    <label for="사진리뷰체크박스">사진 리뷰 모아보기</label>
  </div> -->
  <br />
</div>

<!--
  <div class="star_rating" id="total_star_rating">
    <span class="fill_star" style="font-size: 100%">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </span>
    <span class="non_fill_star" style="font-size: 0%">
      <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
    </span>
  </div>-->

<br />
<!--
  <div class="keyword_graph">
    <ul>
      <li>
        <span class="g_term">음식이 맛있어요</span
        ><span class="g_bar" style="width: 40%"></span>
      </li>
      <li>
        <span class="g_term">매장이 청결해요</span
        ><span class="g_bar" style="width: 30%"></span>
      </li>
      <li>
        <span class="g_term">음식이 빨리 나와요</span
        ><span class="g_bar" style="width: 20%"></span>
      </li>
      <li>
        <span class="g_term">가성비가 좋아요</span
        ><span class="g_bar" style="width: 10%"></span>
      </li>
    </ul>
  </div>
  <br />-->

<div class="per리뷰">
  {% for data in datas %}

  <table>
    <tbody>
      <tr>
        <th rowspan="4">
          <img
            width="250px"
            height="220px"
            src="/static/image/{{data[1].img_path}}"
            alt="리뷰 사진"
          />
        </th>
        <th>닉네임 :</th>
        <td>{{data[1].reviewerName}}</td>
      </tr>
      <tr>
        <th>평점 :</th>
        <td>{{data[1].rating}}</td>
      </tr>
      <tr>
        <th>메뉴 :</th>
        <td>{{data[1].menu}}</td>
      </tr>
      <tr>
        <th>후기 :</th>
        <td>{{data[1].text}}</td>
      </tr>
    </tbody>
  </table>
  <hr />
  <!-- 
  <div class="box">
    <img
      width="250px"
      height="220px"
      src="/static/image/{{data[1].img_path}}"
      alt="리뷰 사진"
    />
  </div>

  <h3>닉네임:</h3>
  {{data[1].reviewerName}}
  <div class="rating">
    <h3>평점</h3>
    {{data[1].rating}}
  </div>
  <div class="menu">
    <h3>메뉴</h3>
    {{data[1].menu}}
  </div>
  <div class="text">
    <h3>후기</h3>
    {{data[1].text}}
  </div> -->

  {% endfor %}
</div>

<!--
  <div class="per리뷰">
    <img
      id="gourment"
      style="width: 250px; height: 200px"
      src="static/momiji3.jpg"
      alt="샘플 대표메뉴 이미지"
      style="display: inline-block; position: static"
    />
  
    <div style="display: inline-block; position: relative; top: -50px">
      <div class="star_rating per_star_rating" style="display: inline-block">
        <span class="fill_star">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </span>
        <span class="non_fill_star" style="font-size: 0%">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </span>
      </div>
      <div class="review_textblock">
        <p class="user_name"><b>닉네임</b><br />Charlotte</p>
        <p class="review_text">
          <b>리뷰 내용</b><br />
          육회덮밥 : 육회가 굉장히 신선하고 맛있어요:
        </p>
      </div>
    </div>
  </div>
  
  <div class="per리뷰">
    <img
      id="gourment"
      style="width: 250px; height: 230px"
      src="static/momiji4.jpeg"
      alt="샘플 대표메뉴 이미지"
      style="display: inline-block; position: static"
    />
  
    <div style="display: inline-block; position: relative; top: -50px">
      <div class="star_rating per_star_rating" style="display: inline-block">
        <span class="fill_star">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </span>
        <span class="non_fill_star" style="font-size: 0%">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
        </span>
      </div>
      <div class="review_textblock">
        <p class="user_name"><b>닉네임</b><br />Dolores</p>
        <p class="review_text">
          <b>리뷰 내용</b><br />소고기 대파 덮밥 : 고기와 대파 조합 최고!
          <br />특히 대파가 튀긴 것과 구운 것 둘 다 있어 맛있어용
        </p>
      </div>
    </div>
  </div>-->
{% endblock section %} {% block co_side %}
<div class="co side"></div>
{% endblock co_side %}
